<html>
  <head>
    <script type="text/javascript">
      window.SETTINGS = {
        jwt: '{{jwt}}'
      };
    </script>
  </head>
  <body>
    <div id="app" />
    <script src="index.js"></script>
  </body>
</html>