PORT=3000
NODE_ENV=development
USE_SSL=false

# this variable is dev only
DB_NAME=neststarterappdev

DATABASE_URL=postgresql://<put the result of whoami here>@localhost:5432/neststarterappdev

# recommend using randomkeygen.com to generate a key
ENCRYPTION_KEY=yourencryptionkey
REFRESH_ENCRYPTION_KEY=yourrefreshencryptionkey

#Admin user information
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=changeme
